.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 3px solid #999999;
}

.ProseMirror hr {
  border: none;
  border-top: 3px solid #999999;
  margin: 2rem 0;
}

.ProseMirror {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid grey;
  background: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right-color: transparent;
}
.ProseMirror:focus {
  border-color: black;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 2rem;
  list-style: inside;
}
.ProseMirror ul p{
  padding-left: 20px;
  transform: translateY(-21px);
}